mobile-width = "screen and (max-width: 767px)";

my_black = #020202;
link_blue = #0083ca;
title_blue = #336ba3;
btn_blue = #0c77b5

c1c8 = #ffab00;
c2c7c9 = #ffd800;
c3c11c20 = #dc0029;
c4c16c18 = #ffa000;
c5 = #ff4338;
c6c14c17 = #ff7600;
//c7 = #ffd800;
//c8 = #ffab00;
//c9=#ffd800;
c10 = #c900b4;
//c11 = #dc0029;
c12c19 = #ff4539;
c13 = #ff7200;
//c14=#ff7600;
c15 = #ff7700;
//c16 = #ffa000;
//c17=#ff7600;
//c18 = #ffa000;
//c19 = #ff4539;
//c20 = #dc0029;

wrapper() {
  margin 0 auto;
  max-width: 960px;
};

wrapper-small() {
  margin: 0 auto;
  max-width: 745px;

};
clearfix(){
  &:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }
}
