@import "../node_modules/nib";
@import "nib/normalize";
@import 'nib/gradients';
@import "mixin.styl";
@import "fonts.styl";
@import "global.styl";

//js
//хедер
//главная
@import "__block/main.styl";

//футер







